[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = false
host_key_checking = false
stdout_callback = ansible.builtin.default
callback_result_format = yaml
timeout = 30
vault_password_file = .vault_password
deprecation_warnings = false

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
