# {{ ansible_managed }}
# Sudoers rules for node_exporter textfile collectors
Defaults:nobody !requiretty
{% for script in node_exporter_textfile_scripts %}
{% for rule in script.sudoers | default([]) %}
{{ rule }}
{% endfor %}
{% endfor %}
