server {
    listen {{ nginx_http_port }};
    server_name documents.homelab.internal;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen {{ nginx_https_port }} ssl;
    server_name documents.homelab.internal;

    ssl_certificate     {{ nginx_ssl_cert }};
    ssl_certificate_key {{ nginx_ssl_key }};

    ssl_protocols TLSv1.3;
    ssl_prefer_server_ciphers off;

    root {{ nginx_web_root }}/documents;

    location / {
        index index.html;
        try_files $uri $uri/ =404;
    }
}
