---
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: homelab-pool
spec:
  blocks:
    - start: "{{ kubernetes_cilium_lb_pool.split('-')[0] }}"
      stop: "{{ kubernetes_cilium_lb_pool.split('-')[1] }}"
---
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: homelab
spec:
  interfaces:
    - "{{ kubernetes_cilium_l2_interface }}"
  loadBalancerIPs: true
