version: 2
ethernets:
  all-en:
    match:
      name: "en*"
    dhcp4: false
    dhcp6: false
    addresses:
      - {{ vm_ip }}/24
    routes:
      - to: default
        via: {{ libvirt_network_gateway }}
    nameservers:
      addresses:
        - {{ libvirt_network_gateway }}
      search:
        - {{ vm_hostname }}.{{ lab_domain }}
        - {{ lab_domain }}
