global:
  scrape_interval: {{ monitoring_prometheus_scrape_interval }}
  evaluation_interval: {{ monitoring_prometheus_evaluation_interval }}

  external_labels:
    cluster: local
    environment: lab

rule_files:
  - /etc/prometheus/rules/*.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - localhost:9093

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090

  - job_name: node-exporter
    static_configs:
      - targets:
          - localhost:9100
        labels:
          instance: "{{ vm_hostname }}"

  - job_name: alertmanager
    static_configs:
      - targets:
          - localhost:9093
